<% action = (band.persisted? ? band_url(band) : bands_url) %>
<% method = (band.persisted? ? :patch : :post) %>
<% button = (band.persisted? ? "Edit Band" : "Create Band") %>

<form action="<%= action %>" method="post">
  <input type="hidden" name="_method" value="<%= method %>">

  <% if flash.now[:errors] %>
    <% flash.now[:errors].each do |error| %>
     <%= error %><br />
    <% end %>
  <% end %>
<br>
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label for="band_name">Name of Band:</label>
  <input type="text"
         name="band[name]"
         id="band_name"
         value="<%= @band.name %>">
  <br>

  <input type="submit" value="<%= button %>">
</form>
