<h1><%= @band.name %></h1>

<table>
  <tr>
    <th>albums</th>
  </tr>
  <% @band.albums.each do |album| %>
  <tr>
    <th>
      <%= link_to album.name, album_url(album.id) %>
    </th>
    <th>
      <%= link_to "Edit", edit_album_url(album) %>
    </th>
    <th>
      <%= link_to "Remove", album_url(album), :method => :delete %>
    </th>
  </tr>
  <% end %>
</table>

<br>
<%= link_to "Edit Band", edit_band_url(@band) %>
<%= link_to "Delete Band", band_url(@band), :method => :delete %>
<br>

<%= link_to "New Album", new_band_album_url(@band) %>
<br>
<%= link_to "All Bands", bands_url %>
